@charset "UTF-8";


@media screen and (max-width: 1638px){
    main{
        margin: 6%;
    }
    
}

@media screen and (max-width: 1200px){
    
    h1{
        font-size: 1.8rem;
    }

    p{
        font-size: 1.2rem;
    }

    div{
        font-size: 0.9rem;
    }

    div a{
        font-size: 1rem;
    }

    img{
        width: 45%;
    }

}

@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    header{
        padding: 0px;
        margin-top: 30px;
        width: 100%;
    }

    header nav{
        justify-content: center;
    }

    main{
        flex-direction: column-reverse;
    }

    .conteudo{
        width: 100%;
        text-align: center;
    }

    img{
        width: 70%;
        margin-bottom: 20px;
    }
}

